/test_file/*.mp4
/test_file/*.avi
Untitled.ipynb
/face_recog_mediapipe/*.avi
/face_recog_mediapipe/*.png
/face_recog_mediapipe/*.jpg
/face_recog_mediapipe/Face_detection.ipynb
/face_recog_mediapipe/.ipynb_checkpoints
deep_face
database
